@if (checkAnnouncementExists()) {
  <div class="--announcement-wrapper p-4">
    <div class="--announcement-header">
      <p-tabs value="0">
        <div class="d-flex justify-content-between align-items-center">
          <p-tablist>
            <p-tab value="0">Active Announcements</p-tab>
            <p-tab value="1">Expired Announcements</p-tab>
          </p-tablist>

          <main-header [filterList]="userTypes" (searchChanged)="onSearchAnnouncement($event)" (addSection)="onOpenAnnouncement()"></main-header>
        </div>

        <p-tabpanels>
          <p-tabpanel value="0">
            <announcement-list [announcements]="announcements.active"></announcement-list>
          </p-tabpanel>
          <p-tabpanel value="1">
            <announcement-list [announcements]="announcements.expired"></announcement-list>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>
} @else {
  <div class="--content-section p-4 d-flex flex-column">
    <div class="d-flex justify-content-end">
      <button-primary
        icon="assets/images/common/white-plus-solid.svg"
        label="New Announcement"
        [isPrimaryActive]="true"
      ></button-primary>
    </div>
    <div class="flex-fill d-flex justify-content-center align-items-center">
      <app-empty-content
        icon="assets/images/common/announcement-med.svg"
        title="There are no announcements to show yet."
        createText="Create a new announcement"
      ></app-empty-content>
    </div>
  </div>
}
