<div class="--calendar-section p-4">
  <div class="--task-top d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Community Calendar</h4>
    <button-primary
      icon="assets/images/common/arrow-right.svg"
      label="Open Calendar"
      iconPos="right"
    ></button-primary>
  </div>

  <div class="--calendar-lib mt-4">
    <div class="--calendar-toolbar d-flex justify-content-between align-items-center">
      <div class="mb-4 d-flex align-items-center">
        <h5 class="mb-0 me-4">{{ calendarTitle | date: 'MMMM, yyyy' }}</h5>
        <img
          [src]="'assets/images/' + currentMode + '/gray-chevron-left.svg'"
          class="--pre me-2"
          (click)="onNavigation('prev')"
          alt="chevron_right"
        />

        <img
          [src]="'assets/images/' + currentMode + '/gray-chevron-right.svg'"
          class="--next"
          (click)="onNavigation('next')"
          alt="chevron_right"
        />
      </div>
    </div>
    <full-calendar #calendar [options]="calendarOptions()"></full-calendar>
  </div>
</div>
