<div
  class="--file-upload-container flex-fill w-100 d-flex flex-column align-items-center"
  [class.--primary]="type() === 'primary'"
>
  <label class="--upload-label d-flex align-items-center gap-2">
    @if (fileName) {
      <span>{{ fileName }}</span>
    } @else {
      <div class="d-flex align-items-center">
        @if (icon()) {
          <img
            [src]="'assets/images/' + currentMode + '/' + icon() + '.svg'"
            class="me-2"
            alt="upload_file"
          />
        } @else {
          <img
            [src]="'assets/images/' + currentMode + '/upload-cloud.svg'"
            class="me-2"
            alt="upload_file"
          />
        }
        <span class="--placeholder">{{ placeholder() }}</span>
      </div>
    }
    <input type="file" (change)="onFileSelected($event)" />
  </label>
</div>
