@use './variables' as v;


:root {
  --background: #{v.$background-light};
  --color: #{v.$color-light};
  --theme-color: #{v.$theme-color-light};
  --primary-color: #{v.$primary-color-light};
  --active-primary: #{v.$active-primary-light};
  --theme-style: #{v.$theme-style-light};
  --border-color: #{v.$border-color-light};
  --title-text: #{v.$title-text};
  --title-subtext: #{v.$title-subtext};
  --input-bg: #{v.$input-bg-light};
  --const-color: #{v.$constant-color-light};
  --normal-text: #{v.$normal-text-light};
  --toggle-theme: #{v.$toggle-theme-light};
  --toggle-theme-active: #{v.$toggle-theme-active-light};
  --border-notification: #{v.$border-notification-light};
  --message-bg: #{v.$message-bg-light};
  --chips-bg: #{v.$chips-bg-light};
  --input-custom: #{v.$input-custom-light};
  --dialog-title: #{v.$dialog-title-light};
  --dialog-text: #{v.$dialog-text-light};
  --tag-text: #{v.$tag-text-light};
  --input-color: #{v.$input-bg-light};
  --custom-input-bg: #{v.$custom-input-bg-light};
}

.my-app-dark {
  --background: #{v.$background-dark};
  --color: #{v.$color-dark};
  --theme-color: #{v.$theme-color-dark};
  --primary-color: #{v.$primary-color-dark};
  --active-primary: #{v.$active-primary-dark};
  --theme-style: #{v.$theme-style-dark};
  --border-color: #{v.$border-color-dark};
  --title-text: #{v.$title-text-dark};
  --title-subtext: #{v.$title-subtext-dark};
  --input-bg: #{v.$input-bg-dark};
  --const-color: #{v.$constant-color-dark};
  --normal-text: #{v.$primary-color-dark};
  --toggle-theme: #{v.$toggle-theme-dark};
  --toggle-theme-active: #{v.$toggle-theme-active-dark};
  --border-notification: #{v.$border-notification-dark};
  --message-bg: #{v.$message-bg-dark};
  --chips-bg: #{v.$chips-bg-dark};
  --input-custom: #{v.$input-custom-dark};
  --dialog-title: #{v.$dialog-title-dark};
  --dialog-text: #{v.$dialog-text-dark};
  --tag-text: #{v.$tag-text-dark};
  --input-color: #{v.$background-dark};
  --custom-input-bg: #{v.$custom-input-bg-dark};
}
