// LIGHT THEME
$background-light: #FFFFFF;
$color-light: #36394A;
$theme-color-light: #FFF6E6;
$primary-color-light: #6938DA;
$active-primary-light: #F3EEFF;
$theme-style-light: #6938DA;
$border-color-light: #BEA2FF;
$title-text: #0D0D12;
$title-subtext: #666D80;
$input-bg-light: #F8FAFB;
$constant-color-light: #000;
$normal-text-light: '#6F6F6F';
$toggle-theme-light: #FFF6E6;
$toggle-theme-active-light: '#FFDD9E';
$border-notification-light: #FFB9BF;
$message-bg-light: #FFEDEF;

// DARK THEME
$background-dark: #0D0D12;
$color-dark: #DFE1E7;
$theme-color-dark: #674300;
$primary-color-dark: #979797;
$active-primary-dark: #6938DA;
$theme-style-dark: #6938DA;
$border-color-dark: #471EA7;
$title-text-dark: #F8FAFB;
$title-subtext-dark: #C1C7D0;
$input-bg-dark: #FFFFFF;
$constant-color-dark: #FFF;
$toggle-theme-dark: #674300;
$toggle-theme-active-dark: #AB7000;
$border-notification-dark: #CC2936;
$message-bg-dark: #880B15;
