// LIGHT THEME
$background-light: #FFFFFF;
$color-light: #36394A;
$theme-color-light: #FFF6E6;
$primary-color-light: #6938DA;
$active-primary-light: #F3EEFF;
$theme-style-light: #6938DA;
$border-color-light: #BEA2FF;
$title-text: #0D0D12;
$title-subtext: #666D80;
$input-bg-light: #F8FAFB;
$constant-color-light: #000;
$normal-text-light: #6F6F6F;
$toggle-theme-light: #FFF6E6;
$toggle-theme-active-light: #FFDD9E;
$border-notification-light: #FFB9BF;
$message-bg-light: #FFEDEF;
$chips-bg-light: #ABFF52;
$input-custom-light: #F8FAFB;
$dialog-title-light: #818898;
$dialog-text-light: #6F6F6F;
$tag-text-light: #471ea7;
$custom-input-bg-light: #F6F8FA;

// DARK THEME
$background-dark: #0D0D12;
$color-dark: #DFE1E7;
$theme-color-dark: #674300;
$primary-color-dark: #979797;
$active-primary-dark: #6938DA;
$theme-style-dark: #6938DA;
$border-color-dark: #471EA7;
$title-text-dark: #F8FAFB;
$title-subtext-dark: #C1C7D0;
$input-bg-dark: #FFFFFF;
$constant-color-dark: #FFF;
$normal-text-dark: #6F6F6F;
$toggle-theme-dark: #674300;
$toggle-theme-active-dark: #AB7000;
$border-notification-dark: #CC2936;
$message-bg-dark: #880B15;
$chips-bg-dark: #74DB07;
$input-custom-dark: #0D0D12;
$dialog-title-dark: #A4ACB9;
$dialog-text-dark: #979797;
$tag-text-dark: #BEA2FF;
$custom-input-bg-dark: #F6F8FA;
