// LIGHT THEME
$background-light: #ffffff;
$color-light: #36394a;
$theme-color-light: #fff6e6;
$primary-color-light: #6938da;
$active-primary-light: #f3eeff;
$theme-style-light: #6938da;
$border-color-light: #bea2ff;
$title-text: #0d0d12;
$title-subtext: #666d80;
$input-bg-light: #f8fafb;
$constant-color-light: #000;
$normal-text-light: #6f6f6f;
$toggle-theme-light: #fff6e6;
$toggle-theme-active-light: #ffdd9e;
$border-notification-light: #ffb9bf;
$message-bg-light: #ffedef;
$chips-bg-light: #abff52;
$input-custom-light: #f8fafb;
$dialog-title-light: #818898;
$dialog-text-light: #6f6f6f;
$tag-text-light: #471ea7;
$custom-input-bg-light: #f6f8fa;

// DARK THEME
$background-dark: #0d0d12;
$color-dark: #dfe1e7;
$theme-color-dark: #674300;
$primary-color-dark: #979797;
$active-primary-dark: #6938da;
$theme-style-dark: #6938da;
$border-color-dark: #471ea7;
$title-text-dark: #f8fafb;
$title-subtext-dark: #c1c7d0;
$input-bg-dark: #ffffff;
$constant-color-dark: #fff;
$normal-text-dark: #6f6f6f;
$toggle-theme-dark: #674300;
$toggle-theme-active-dark: #ab7000;
$border-notification-dark: #cc2936;
$message-bg-dark: #880b15;
$chips-bg-dark: #74db07;
$input-custom-dark: #0d0d12;
$dialog-title-dark: #a4acb9;
$dialog-text-dark: #979797;
$tag-text-dark: #bea2ff;
$custom-input-bg-dark: #f6f8fa;
