.--custom-btn-primary {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;

  &.--primary {
    background: #F3EEFF;

    span {
      color: #6938DA;
    }
  }

  &.--active-primary {
    background: #6938DA;

    span {
      color: #FFF
    }
  }

  span {
    font-weight: 500;
    font-size: 12px;
  }
}
