.--auth-layout {
  background: url('../../../assets/images/bg-auth.svg') no-repeat center center fixed;
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;

  .--logo-container {
    height: 100vh;
    display: flex;
    align-items: end;

    .--banner-content {
      display: flex;

      p {
        color: #FFF;
      }
    }
  }
}