<div class="--auth-layout" [style.backgroundImage]="'url(' + backgroundImg + ')'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row --form-wrapper">
          <div class="d-md-none d-lg-block col-lg-5"></div>
          <div class="col-md-12 col-xl-7">
            <div class="--form-container">
              <router-outlet @routeAnimations></router-outlet>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="--banner-wrapper">
          <div class="--banner-content d-flex align-items-center gap-3 mb-4">
            <img src="assets/images/common/small-logo.svg" alt="hoa_logo" />
            <p>
              All in one solution for home owner association’s management, communication and
              scheduling
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
