.--auth-layout {
  position: relative;
  background: url('../../../assets/images/common/bg-auth.svg') no-repeat center center fixed;
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to top, #000, transparent);
    pointer-events: none;
  }

  .--form-wrapper {
    height: calc(100vh - 84px);

    .--form-container {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  .--banner-wrapper {
    position: absolute;
    z-index: 20;
    left: 60px;
    bottom: 45px;

    p {
      color: #FFF;
      max-width: 360px;
      font-size: 15px;
    }
  }
}
