<div class="--auth-layout">
  <!-- <router-outlet></router-outlet> -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="--logo-container">
          <div class="--banner-content">
            <img src="assets/images/small-logo.svg" alt="hoa_logo" />
            <p>
              All in one solution for home owner association’s management, communication and
              scheduling
            </p>
          </div>
        </div>
      </div>
      <div class="col-8"></div>
    </div>
  </div>
</div>
