<div class="mb-3 d-flex align-items-center">
  <img
    [src]="'assets/images/' + currentMode + '/' + icon + '.svg'"
    [alt]="icon + '_icon'"
    class="me-2"
  />
  <p [style.width]="isCreateMode ? width : ''" [class.--detail]="!isCreateMode" class="--text-box">
    {{ label }}
  </p>

  @if (isCreateMode) {
    @switch (type) {
      @case ('select') {
        <p-select
          [options]="options"
          variant="filled"
          optionLabel="name"
          optionValue="code"
          styleClass="flex-fill"
          [placeholder]="placeholder"
          [(ngModel)]="value"
        />
      }

      @case ('custom-select') {
        <app-custom-select
          [options]="options"
          [field]="field"
          [dialogType]="dialogType"
        ></app-custom-select>
      }
      @case ('date') {
        <p-datepicker
          showIcon
          iconDisplay="input"
          class="flex-fill"
          variant="filled"
          [placeholder]="placeholder"
          [(ngModel)]="value"
        />
      }
      @case ('file') {
        <div class="flex-fill">
          <app-input-file [placeholder]="placeholder" [icon]="customIcon"></app-input-file>
        </div>
      }
      @case ('custom-select') {
        <app-custom-select
          [options]="options"
          [field]="field"
          [dialogType]="dialogType"
        ></app-custom-select>
      }
      @case ('phone') {
        <app-input-phone [placeholder]="placeholder"></app-input-phone>
      }

      <!-- !TODO: Handle case-->
      <!-- @case ('chip') {
          <div class="--chip-container" (click)="focusInput()">
            <div class="w-100 d-flex align-items-start flex-wrap gap-2">
              @for (tag of tags; track $index) {
                <div class="--chip d-flex align-items-center">
                  <img
                    src="assets/images/common/close-ssm.svg"
                    class="me-1"
                    (click)="removeTag($index)"
                    alt="close_icon"
                  />
                  <span>
                    {{ tag }}
                  </span>
                </div>
              }
              <input
                #chipInput
                [(ngModel)]="inputValue"
                (keydown.enter)="addTag($event)"
                [placeholder]="tags.length === 0 ? 'Enter names or groups, separated by comma' : ''"
              />
            </div>
          </div>
      } -->

      @default {
        <input
          type="text"
          variant="filled"
          pInputText
          [placeholder]="placeholder"
          class="flex-fill"
          [(ngModel)]="value"

        />
      }
    }
  } @else {
    @if (field === 'start_date' || field === 'end_date') {
      <span>{{ value | date: 'MMM. dd, hh:mm a' }}</span>
    } @else if (field === 'status' && type !== 'select') {
      <app-custom-select
        [options]="options"
        [field]="field"
        [dialogType]="dialogType"
      ></app-custom-select>
    } @else if (field === 'image' && value) {
      <img class="--image-wrapper" [src]="value" alt="image" />
    } @else if (field === 'assigned_to' || field === 'project_manager') {
      <p-avatar-group>
        @for (avatar of value.slice(0, 2); track $index) {
          <p-avatar [image]="avatar.image" size="large" shape="circle" />
        }
        @if (value.length > 2) {
          <p-avatar [label]="'+' + (value.length - 2)" shape="circle" size="large"></p-avatar>
        }
      </p-avatar-group>
    } @else if (field === 'priority') {
      <span class="--priority" [class]="'--' + value">{{ value }}</span>
    } @else if (field === 'participants') {
      @for (part of value; track $index) {
        <div class="--chip">
          <p>{{ part }}</p>
        </div>
      }
    } @else {
      <span style="text-transform: capitalize">{{ value ? value : '-' }}</span>
    }
  }
</div>
