.--image-wrapper {
  width: 120px !important;
  height: 60px !important;
  object-fit: cover;
}

.--priority {
  padding: 0 5px;
  border-radius: 6px;
  font-size: 12px !important;
  text-transform: capitalize;
}
.--chip {
  background: #ABFF52;
  margin-right: 10px;
  padding: 4px 12px;
  border-radius: 20px;
}
::ng-deep .p-select,
::ng-deep .p-inputtext {
  background: var(--input-custom) !important;
}
