::ng-deep .p-select.--new,
::ng-deep .p-select.--first-notice {
  background: #FF515F !important;
  border-radius: 10px;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--accepted {
  background: #55C68D !important;
  border-radius: 10px;

  span,
  svg {
    color: #FFF !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--pending {
  background: #EFA00B !important;
  border-radius: 10px;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--approved {
  background: #4E9700 !important;
  border-radius: 10px;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}


::ng-deep .p-select-option-selected {
  background: #6938DA !important;
  color: #FFF !important;
}

::ng-deep .p-select-option:hover {
  background: #6938DA !important;
  color: #FFF !important;
}

::ng-deep .p-select-label {
  padding: 4px 12px !important;
}

::ng-deep .p-select-list {
  padding: 0;
}