@if (isActive) {
  <div class="--task-wrapper p-4">
    <div class="--task-header">
      <p-tabs value="0">
        <div class="d-flex justify-content-between align-items-center">
          <p-tablist>
            <p-tab value="0">
              <div>One Projects</div>
            </p-tab>
            <p-tab value="1">
              <div>On Hold</div>
            </p-tab>
            <p-tab value="2"><div>Completed</div></p-tab>
            <p-tab value="3"><div>Cancelled</div></p-tab>
          </p-tablist>

          <main-header
            labelButton="New Project"
            (searchChanged)="onSearch()"
            (addSection)="onOpenTaskDetail()"
          >
          </main-header>
        </div>

        <p-tabpanels>
          <p-tabpanel value="0">
            <app-table [data]="projects" [headers]="headers" [showPagination]="true"></app-table>
          </p-tabpanel>
          <p-tabpanel value="1">
            <app-table [data]="projects" [headers]="headers" [showPagination]="true"></app-table>
          </p-tabpanel>
          <p-tabpanel value="2">
            <app-table [data]="projects" [headers]="headers" [showPagination]="true"></app-table>
          </p-tabpanel>
          <p-tabpanel value="3">
            <app-table [data]="projects" [headers]="headers" [showPagination]="true"></app-table>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>
} @else {
  <div class="--content-section p-4 d-flex flex-column">
    <div class="d-flex justify-content-end">
      <button-primary
        icon="assets/images/common/white-plus-solid.svg"
        label="New Project"
        [isPrimaryActive]="true"
      ></button-primary>
    </div>
    <div class="flex-fill d-flex justify-content-center align-items-center">
      <app-empty-content
        icon="assets/images/common/annotation-lg.svg"
        iconDark="assets/images/dark/annotation-lg.svg"
        title="There are no tasks to show yet."
        createText="Create a new project"
      ></app-empty-content>
    </div>
  </div>
}
