@if (true) {
  <div class="--task-wrapper p-4">
    <div class="--task-header">
      <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
        <div class="d-flex justify-content-between align-items-center">
          <p-tablist>
            @for (tab of tabs; track $index) {
              <p-tab value="{{ $index }}">
                <img
                  [src]="activeTab() === $index.toString() ? tab.activeImg : tab.img"
                  alt="tab_img"
                />
                <div>{{ tab.name }}</div>
              </p-tab>
            }
          </p-tablist>

          <main-header
            labelButton="New Project"
            (searchChanged)="onSearchChange($event)"
            (addSection)="onOpenCreateProject()"
          >
          </main-header>
        </div>

        <p-tabpanels>
          @for (tab of tabs; track $index) {
            <p-tabpanel [value]="$index.toString()">
              <app-table
                [data]="tab.data"
                [sampleData]="sampleData"
                [headers]="headers"
                [showPagination]="true"
                [actions]="actions"
                [isLoading]="tab.loading"
                (actionTriggered)="handleTableAction($event)"
              ></app-table>
            </p-tabpanel>
          }
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>
} @else {
  <div class="--content-section p-4 d-flex flex-column">
    <div class="d-flex justify-content-end">
      <button appButton="primary" icon="white-plus-solid" (click)="onOpenCreateProject()">
        New Project
      </button>
    </div>
    <div class="flex-fill d-flex justify-content-center align-items-center">
      <app-empty-content
        icon="assets/images/common/annotation-lg.svg"
        iconDark="assets/images/dark/annotation-lg.svg"
        title="There are no tasks to show yet."
        createText="Create a new project"
        (actionEmitter)="onOpenCreateProject()"
      ></app-empty-content>
    </div>
  </div>
}
