<div
  class="--custom-input d-flex align-items-center"
  [ngClass]="[
    mode() ? '--dark-mode' : '--light-mode',
    value && currentMode === 'dark' ? '--filled' : '--empty'
  ]"
  [class.--error]="isError()"
>
  <img class="--input-icon" [src]="icon()" alt="icon_img" />

  @if (type() === 'password') {
    <div class="flex-fill">
      <p-password
        [(ngModel)]="value"
        (ngModelChange)="onInput($event)"
        [toggleMask]="true"
        [feedback]="false"
        [placeholder]="placeholder()"
        [disabled]="disabled"
      />
    </div>
  } @else {
    <input
      type="text"
      class="p-inputtext"
      [value]="value"
      (input)="onInput($event)"
      [placeholder]="placeholder()"
      [disabled]="disabled"
      pInputText
    />
  }
</div>
