.--custom-input {
  border: 1px solid #bea2ff;
  padding: 4px 10px;
  border-radius: 15px;
  background: var(--input-bg);

  input {
    outline: none;
    flex: 1;
    background: var(--input-bg);
    color: var(---background);
  }

  img {
    width: 24px;
    height: 25px;
  }

  &.--error {
    border: 1px solid #ec778d;
    box-shadow: 0px 0px 5px #ec778d;
  }

  &.--filled {
    background: #0d0d12;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      transform 0.3s ease,
      box-shadow 0.3s ease;

    input,
    ::ng-deep .p-password-input {
      background: #0d0d12 !important;
      color: #fff !important;
      transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
    }
  }

  &.--empty {
    background: var(--input-bg) !important;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      transform 0.3s ease,
      box-shadow 0.3s ease;

    input,
    ::ng-deep .p-password-input {
      transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
    }
  }
}

::ng-deep .p-password {
  width: 100% !important;
}

::ng-deep .p-password-input,
::ng-deep .p-inputtext {
  width: 100% !important;
  background: var(--input-bg) !important;
  border: 0 !important;
  box-shadow: none !important;
}

::ng-deep .p-password-toggle-mask-icon {
  cursor: pointer;
  width: 24px !important;
  height: 24px !important;

  svg {
    width: 24px;
    height: 24px;
    margin-bottom: 7px;
  }
}
