.--custom-input {
  border: 1px solid #BEA2FF;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  background: var(--input-bg);

  .--input-icon {
    margin-right: 10px;
  }

  input {
    outline: none;
    flex: 1;
    background: var(--input-bg);
    color: var(--const-color);
  }

  img {
    width: 24px;
    height: 25px;
  }
}
