<div class="p-4">
  <p-tabs [scrollable]="false" [value]="activeTab()" (valueChange)="onTabChange($event)">
    <div class="d-flex justify-content-between align-items-center">
      <p-tablist>
        @for (tab of tabs; track $index) {
          <p-tab value="{{ $index }}">
            <img
              [src]="activeTab() === $index.toString() ? tab.activeImg : tab.img"
              alt="tab_img"
            />
            <div>{{ tab.name }}</div>
          </p-tab>
        }
      </p-tablist>

      <main-header [labelButton]="labelButton()" (addSection)="onAddSection()"></main-header>
    </div>

    <p-tabpanels>
      <p-tabpanel value="0">
        @if (documents.length) {
          <app-table
            [headers]="documentHeaders"
            [data]="documents"
            [actions]="documentActions"
          ></app-table>
        } @else {
          <div class="--empty-content">
            <app-empty-content
              icon="assets/images/light/file-lg.svg"
              iconDark="assets/images/dark/file-lg.svg"
              title="There are no documents yet."
              createText="Add a new document"
            ></app-empty-content>
          </div>
        }
      </p-tabpanel>
      <p-tabpanel value="1">
        @if (letters.length) {
          <app-table
            [headers]="letterHeaders"
            [data]="letters"
            [actions]="letterActions"
          ></app-table>
        } @else {
          <div class="--empty-content">
            <app-empty-content
              icon="assets/images/light/mail-lg.svg"
              iconDark="assets/images/dark/mail-lg.svg"
              title="There are no letters yet."
              createText="Compose a new letter"
            ></app-empty-content>
          </div>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
