.--paginator {
  span {
    font-weight: 500;
    font-size: 12px;
    color: #6f6f6f;
  }
}

.--pointer {
  cursor: pointer;
}

.--delete-action {
  span {
    color: #ff515f;
  }
}
.--row-img {
  width: 120px;
  height: 70px;
  object-fit: cover;
}

::ng-deep .p-avatar {
  width: 30px !important;
  height: 30px !important;
}

::ng-deep .p-avatar-group .p-avatar-lg + .p-avatar-lg {
  margin-inline-start: -10px !important;
}

::ng-deep .p-paginator-first,
::ng-deep .p-paginator-last {
  display: none !important;
}

::ng-deep .p-paginator-page {
  width: 30px;
  height: 30px;
  border: 1px solid #dfe1e7;
  border-radius: 5px !important;
  font-weight: 500;
  font-size: 12px;
}

::ng-deep .p-paginator-page-selected {
  background: #6938da !important;
}

::ng-deep .p-datatable-thead th {
  background: var(--active-primary) !important;
  font-size: 13px;
  line-height: 18px;
  color: var(--const-color);
  transition: all 1s step-start !important;
}

::ng-deep td {
  font-weight: 500;
  font-size: 13px;
}

::ng-deep .p-datatable-tbody tr {
  background-color: var(--background) !important;
  color: var(--const-color);
  transition: all 1s step-start !important;
}

::ng-deep .p-popover::before,
::ng-deep .p-popover::after {
  display: none;
}

::ng-deep .p-select-option-selected {
    background: #6938da !important;
}

::ng-deep .p-paginator {
  padding: 0 !important;
}

::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted {
  background: var(--active-primary) !important;
  color: var(--const-color) !important;
  font-size: 13px !important;
  line-height: 18px !important;
}
