.--asigned-wrapper {
  .--assigned-box {
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

}

.tooltip-content {
  visibility: hidden;
  position: absolute;
}

.--paginator {
  span {
    font-weight: 500;
    font-size: 12px;
    color: #6F6F6F;
  }
}

.--pointer {
  cursor: pointer;
}

.--delete-action {
  span {
    color: #FF515F;
  }
}
.popover-content {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

::ng-deep .p-avatar {
  width: 30px !important;
  height: 30px !important;
}


::ng-deep .p-avatar-group .p-avatar-lg+.p-avatar-lg {
  margin-inline-start: -10px !important;
}

::ng-deep .p-paginator-first,
::ng-deep .p-paginator-last {
  display: none !important;
}

::ng-deep .p-paginator-page {
  width: 30px;
  height: 30px;
  border: 1px solid #DFE1E7;
  border-radius: 5px !important;
  font-weight: 500;
  font-size: 12px;

}

::ng-deep .p-paginator-page-selected {
  background: #6938DA !important;
}

::ng-deep .p-datatable-thead th {
  background: var(--active-primary) !important;
  font-size: 13px;
  line-height: 18px;
  color: var(--const-color);
  transition: all 1s step-start !important;
}

::ng-deep td {
  font-weight: 500;
  font-size: 13px;
}

::ng-deep .p-datatable-tbody tr {
  background-color: var(--background) !important;
  color: var(--const-color);
  transition: all 1s step-start !important;
}

::ng-deep .p-popover::before,
::ng-deep .p-popover::after {
  display: none;
}
