<p-table
  [value]="data"
  [rows]="5"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowsPerPageOptions]="[5, 10, 20]"
  showGridlines
>
  <ng-template #header>
    <tr>
      @for (header of headers; track $index) {
        <th [width]="header.width">{{ header.name }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-task>
    <tr>
      <td>
        <img [src]="convertTableType(task.type)" alt="task_icon" />
      </td>
      <td>{{ task.task_name }}</td>
      <td>{{ task.task_type }}</td>
      <td>
        <div class="--box" [ngClass]="getClass(task.priority)">
          {{ task.priority }}
        </div>
      </td>
      <td>{{ task.created | date: 'dd MMM, yyyy' }}</td>
      <td class="d-flex justify-content-center">
        <p-avatar-group>
          @for (avatar of task.assigned_to; track $index) {
            <p-avatar [image]="avatar.avatar" size="large" shape="circle" />
          }
          <!-- <p-avatar label="+2" shape="circle" size="large" /> -->
        </p-avatar-group>
      </td>
      <td>
        <div class="--box" [ngClass]="getClass(task.status)">
          {{ task.status }}
        </div>
      </td>
      <td>
        <div [popover]="popoverContent" class="--pointer">
          <img src="assets/images/common/dots-vertical.svg" alt="dot_icon" />
        </div>

        <ng-template #popoverContent>
          <div class="--action-wrapper">
            <div>
              <img src="assets/images/common/edit.svg" alt="edit_icon" />
              <span>{{ ACTIONS.EDIT }}</span>
            </div>

            <div>
              <img src="assets/images/common/red_trash.svg" alt="trash_icon" />
              <span>{{ ACTIONS.DELETE }}</span>
            </div>
          </div>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>

@if (showPagination) {
  <div class="--paginator w-100">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <span>Page 1 of 10</span>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="20"
      />

      <div class="d-flex align-items-center">
        <span class="me-2">Show</span>
        <p-select
          [options]="pageOptions"
          [(ngModel)]="selectedPageOption"
          optionLabel="name"
          size="small"
        />
      </div>
    </div>
  </div>
}
