<div [style.width.px]="tableWidth">
  @if (isLoading()) {
    <p-table
      [value]="sampleData()"
      [rows]="rows"
      [(selection)]="selectedRows"
      [rowsPerPageOptions]="rowsPerPageOptions()"
      showGridlines
      [ngClass]="[currentMode === 'dark' ? '--dark' : '--light', className()]"
    >
      <ng-template #header>
        <tr>
          @if (showCheckbox()) {
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
          }
          @for (header of headers(); track $index) {
            @if (header.sortable) {
              <th [style.width.px]="header.width" [style.minWidth.px]="header.width">
                {{ header.name }} <p-sortIcon [field]="header.field" />
              </th>
            } @else {
              <th [style.width.px]="header.width" [style.minWidth.px]="header.width">
                {{ header.name }}
              </th>
            }
          }
        </tr>
      </ng-template>
      <ng-template #body let-row>
        <tr>
          @for (header of headers(); track $index) {
            <td><p-skeleton /></td>
          }
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <p-table
      [value]="data()"
      [rows]="rows"
      [(selection)]="selectedRows"
      [rowsPerPageOptions]="rowsPerPageOptions()"
      showGridlines
      [ngClass]="[currentMode === 'dark' ? '--dark' : '--light', className()]"
    >
      <ng-template #header>
        <tr>
          @if (showCheckbox()) {
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
          }
          @for (header of headers(); track $index) {
            @if (header.sortable) {
              <th [style.width.px]="header.width" [style.minWidth.px]="header.width">
                {{ header.name }} <p-sortIcon [field]="header.field" />
              </th>
            } @else {
              <th [style.width.px]="header.width" [style.minWidth.px]="header.width">
                {{ header.name }}
              </th>
            }
          }
        </tr>
      </ng-template>

      <ng-template #body let-row>
        <tr>
          @if (showCheckbox()) {
            <td style="width: 4rem">
              <p-tableCheckbox [value]="row" />
            </td>
          }
          @for (header of headers(); track $index) {
            @switch (header.field) {
              @case ('type_icon') {
                <td>
                  <img [src]="convertTableType(row[header.field])" alt="task_icon" />
                </td>
              }
              @case ('priority') {
                <td>
                  <div class="--box" [ngClass]="getClass(row[header.field])">
                    {{ row[header.field] }}
                  </div>
                </td>
              }
              @case ('status') {
                <td>
                  <div class="--box" [ngClass]="getClass(row[header.field])">
                    {{ convertToTitleCase(row[header.field]) }}
                  </div>
                </td>
              }
              @case ('assigned_to') {
                <td class="d-flex justify-content-center">
                  <p-avatar-group>
                    @for (avatar of row[header.field]; track $index) {
                      <p-avatar
                        [image]="avatar.avatar"
                        size="large"
                        shape="circle"
                        (onImageError)="handleImageError($event)"
                      />
                    }
                  </p-avatar-group>
                  <!-- <p-avatar label="+2" shape="circle" size="large" /> -->
                </td>
              }
              @case ('image') {
                <td class="d-flex justify-content-center">
                  <img class="--row-img" [src]="row[header.field]" alt="table_image" />
                </td>
              }

              @case ('created_at') {
                <td>
                  <span> {{ formatDate(row[header.field]) }} </span>
                </td>
              }

              @case ('due_date') {
                <td>
                  <span> {{ formatDate(row[header.field]) }} </span>
                </td>
              }
              @case ('action') {
                <td>
                  <div class="dot-icon --pointer" (click)="op.toggle($event)">
                    <img src="assets/images/common/dots-vertical.svg" alt="dot_icon" />
                  </div>

                  <p-popover #op>
                    <div class="flex flex-col gap-4">
                      @for (action of actions(); track $index) {
                        <div
                          [className]="action.className"
                          (click)="onActionClick(action.actionKey, row)"
                        >
                          <img
                            [src]="'assets/images/' + currentMode + '/' + action.icon + '.svg'"
                            class="me-2"
                            alt="action_icon"
                          />
                          <span>{{ action.label }}</span>
                        </div>
                      }
                    </div>
                  </p-popover>
                </td>
              }
              @default {
                <td>
                  <span class="--truncate">{{ row[header.field] }}</span>
                </td>
              }
            }
          }
        </tr>
      </ng-template>
    </p-table>

    @if (showPagination() && data().length > 0) {
      <div class="--paginator w-100">
        <div class="d-flex justify-content-between align-items-center mt-3">
          <span>Page 1 of 10</span>
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="data().length"
          />

          @if (showListPerPage()) {
            <div class="d-flex align-items-center">
              <span class="me-2">Show</span>

              <p-select [options]="rowsPerPageOptions()" [(ngModel)]="rows" size="small" />
            </div>
          }
        </div>
      </div>
    }
  }
</div>
