<p-table
  [value]="data"
  [rows]="rows"
  [rowsPerPageOptions]="rowsPerPageOptions"
  showGridlines
  [tableStyle]="{ 'min-width': '50rem' }"
  [styleClass]="currentMode === 'dark' ? '--dark' : '--light'"
>
  <ng-template #header>
    <tr>
      @for (header of headers; track $index) {
        <th [width]="header.width">
          {{ header.name }}
        </th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-row>
    <tr>
      @for (header of headers; track $index) {
        @switch (header.field) {
          @case ('type_icon') {
            <td>
              <img [src]="convertTableType(row[header.field])" alt="task_icon" />
            </td>
          }
          @case ('priority') {
            <td>
              <div class="--box" [ngClass]="getClass(row[header.field])">
                {{ row[header.field] }}
              </div>
            </td>
          }
          @case ('status') {
            <td>
              <div class="--box" [ngClass]="getClass(row[header.field])">
                {{ row[header.field] }}
              </div>
            </td>
          }
          @case ('assigned_to') {
            <td class="d-flex justify-content-center">
              <p-avatar-group>
                @for (avatar of row[header.field]; track $index) {
                  <p-avatar [image]="avatar.avatar" size="large" shape="circle" />
                }
                <!-- <p-avatar label="+2" shape="circle" size="large" /> -->
              </p-avatar-group>
            </td>
          }
          @case ('created') {
            <td>
              <span> {{ row[header.field] | date: 'dd MMM, yyyy' }} </span>
            </td>
          }
          @case ('action') {
            <td>
              <div class="dot-icon --pointer" (click)="op.toggle($event)">
                <img src="assets/images/common/dots-vertical.svg" alt="dot_icon" />
              </div>

              <p-popover #op>
                <div class="flex flex-col gap-4">
                  @for (item of actions; track $index) {
                    <div
                      [className]="item.className"
                      (click)="onClickTest($event)"
                      (click)="onActionClick(item.actionKey, row)"
                    >
                      <img
                        [src]="'assets/images/' + currentMode + '/' + item.icon + '.svg'"
                        class="me-2"
                        alt="action_icon"
                      />
                      <span>{{ item.label }}</span>
                    </div>
                  }
                </div>
              </p-popover>
            </td>
          }
          @default {
            <td>{{ row[header.field] }}</td>
          }
        }
      }
    </tr>
  </ng-template>
</p-table>

@if (showPagination) {
  <div class="--paginator w-100">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <span>Page 1 of 10</span>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="data.length"
      />

      <div class="d-flex align-items-center">
        <span class="me-2">Show</span>
        <p-select [options]="rowsPerPageOptions" [(ngModel)]="rows" size="small" />
      </div>
    </div>
  </div>
}
