<!-- <div class="d-flex align-items-center">
  <img
    [src]="'assets/images/' + currentMode + '/user-group.svg'"
    alt="user_icon"
    class="me-2"
  />
  <p class="--text-box">Participants</p>
  @if (dialogType === ACTION_DIALOG.CREATE) {
    <div class="--chip-container" (click)="focusInput()">
      <div class="w-100 d-flex align-items-start flex-wrap gap-2">
        @for (tag of tags; track $index) {
          <div class="--chip d-flex align-items-center">
            <img
              src="assets/images/common/close-ssm.svg"
              class="me-1"
              (click)="removeTag($index)"
              alt="close_icon"
            />
            <span>
              {{ tag }}
            </span>
          </div>
        }
        <input
          #chipInput
          [(ngModel)]="inputValue"
          (keydown.enter)="addTag($event)"
          [placeholder]="tags.length === 0 ? 'Enter names or groups, separated by comma' : ''"
        />
      </div>
    </div>
  } @else {
    @for (chip of eventData.participants; track $index) {
      <p-chip [label]="chip" class="me-2" />
    }
  }
</div> -->

<app-dynamic-dialog
  [dialogType]="type"
  iconCreate="truck-plus"
  iconEdit="calendar-edit"
  title="Event Name"
  [dialogTitle]="title"
  [formFields]="list_columns"
  [list_textarea]="list_textarea"
  buttonText="Create Event"
  buttonIcon="assets/images/common/calendar-plus-sm.svg"
  formID="4567890"
  moduleName="Event ID:"
  [formData]="formData"
></app-dynamic-dialog>
