::ng-deep .p-dialog-header {
  display: none;
}

::ng-deep .p-dialog-content {
  padding: 0;
}

::ng-deep .p-datepicker {
  width: 100%;
}

::ng-deep .p-multiselect,
::ng-deep .p-datepicker-input,
::ng-deep .p-textarea,
::ng-deep .p-inputtext,
::ng-deep .p-select {
  background: var(--input-custom);
  border-color: var(--border-color) !important;
}

::ng-deep .p-chip {
  padding: 4px 12px !important;
  background: #abff52 !important;
}

::ng-deep .p-chip-label {
  font-weight: 500;
  font-size: 12px;
  color: var(--const-color);
}

::ng-deep .p-dialog-content {
  overflow: hidden;
}

::ng-deep .p-dialog {
  max-height: 100%;
}

::ng-deep .p-placeholder,
::ng-deep .p-select-label.p-placeholder {
  color: var(--title-subtext) !important;
}

::ng-deep .p-select.ng-invalid.ng-dirty,
::ng-deep .p-textarea.ng-invalid.ng-dirty,
::ng-deep .p-inputtext.ng-invalid.ng-dirty {
  border-color: var(--p-select-invalid-border-color) !important;
}

::ng-deep .p-select.ng-invalid.ng-dirty .p-select-label.p-placeholder {
  color: var(--p-form-field-invalid-placeholder-color) !important;
}

::ng-deep .p-select-option-selected {
  background: var(--active-primary) !important;
}
