<div class="--dynamic-dialog p-4">
  <app-dialog-header
    [title]="dialogTitle()"
    [iconCreate]="iconCreate()"
    [iconEdit]="iconEdit()"
    [dialogType]="dialogType()"
    [currentMode]="currentMode"
    [formHeader]="formData().data"
    (closeDialog)="closeDialog()"
    (changeAction)="changeAction()"
  ></app-dialog-header>

  <p-divider />

  <form [formGroup]="formGroup">
    <div class="--dynamic-title">
      <h3 class="mb-4" [class.--detail]="!isCreateMode()">{{ formTitle() }}</h3>

      <div class="row">
        <div class="col-6">
          @for (box of formFields(); track $index) {
            @if (box.position === 'left') {
              <app-form-field
                [icon]="box.icon"
                [label]="box.label"
                [type]="box.type"
                [field]="box.field"
                [placeholder]="box.placeholder"
                [value]="box.value"
                [options]="box.list"
                [customIcon]="box.customIcon"
                [currentMode]="currentMode"
                [dialogType]="dialogType()"
                [isCreateMode]="isCreateMode()"

              ></app-form-field>
              <!-- [formControl]="formGroup.get(box.field)" -->
            }
          }
        </div>
        <div class="col-6">
          @for (box of formFields(); track $index) {
            @if (box.position === 'right') {
              <app-form-field
                [icon]="box.icon"
                [label]="box.label"
                [type]="box.type"
                [field]="box.field"
                [placeholder]="box.placeholder"
                [options]="box.list"
                [customIcon]="box.customIcon"
                [value]="box.value"
                [currentMode]="currentMode"aa
                [dialogType]="dialogType()"
                [isCreateMode]="isCreateMode()"
              ></app-form-field>
            }
          }
        </div>
      </div>

      @for (box of formFields(); track $index) {
        @if (box.position === 'extra') {
          <app-form-field
            [icon]="box.icon"
            [type]="box.type"
            [label]="box.label"
            [field]="box.field"
            [value]="box.value"
            [options]="box.list"
            [dialogType]="dialogType()"
            [currentMode]="currentMode"
            [isCreateMode]="isCreateMode()"
            [placeholder]="box.placeholder"
          ></app-form-field>
        }
      }
    </div>

    <p-divider />

    <div class="--dynamic-content mt-3">
      @for (textarea of list_textarea(); track $index) {
        <app-dialog-textarea
          [field]="textarea.field"
          [title]="textarea.title"
          [value]="textarea.value"
          [isCreateMode]="isCreateMode()"
          [placeholder]="textarea.placeholder"
        ></app-dialog-textarea>
      }
    </div>

    <app-dialog-actions
      [isCreateMode]="dialogType() === 'create'"
      [formID]="formID()"
      [buttonText]="buttonText()"
      [moduleName]="moduleName()"
      [buttonIcon]="buttonIcon()"
    ></app-dialog-actions>
  </form>
</div>
