.--toast-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .--toast-dialog {
    background: var(--background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;

    .toast-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .--icon {
      color: green;
      font-size: 24px;
    }

    .--btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }

    h3 {
      font-weight: 600;
      font-size: 24px;
      color: var(--color);
    }

    p {
      font-size: 12px;
      color: var(--normal-text);

    }

    ::ng-deep .--btn-success {
      .p-button {
        background: #ABFF52;
        color: #0D0D12;
      }

      span {
        color: #0D0D12;
      }
    }

    ::ng-deep .--btn-error {
      .p-button {
        background: #FF515F !important;
        border: 0;
      }

      span {
        color: #FFF;
      }
    }

    ::ng-deep .--btn-cancel {
      .p-button {
        background: transparent !important;
        border: 0;
      }

      span {
        color: #6F6F6F;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

::ng-deep .p-button {
  width: 100%;
  color: var(--const-color) !important;
}
