.--form-login-wrapper {
  background: var(--background);
  padding: 50px 90px;
  border-radius: 10px;
  width: 750px;
  height: 600px;

  h4 {
    color: var(--title-text);
  }

  .--back-set-new-wrapper {
    width: 50px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #6938da;
    cursor: pointer;
  }

  .--form-container {
    label {
      font-weight: 500 !important;
      font-size: 12px;
      color: #0d0d12;
    }
  }

  .--bottom-container {
    label {
      font-size: 12px;
      color: #666d80;
      margin-top: 5px;
    }

    p {
      font-size: 12px;
      line-height: 18px;
      color: #c1c7d0;
      cursor: pointer;
    }
  }
}

::ng-deep .p-button {
  width: 100%;

  span {
    color: #fff;
  }
}
