<div class="--form-wrapper">
  <div class="d-flex justify-content-center my-4 mb-3">
    <img [src]="'assets/images/' + currentMode + '/logo-auth.svg'" alt="hoa_logo" />
  </div>

  <div class="--back-wrapper mb-3" (click)="onBackPreviousStep()">
    <img src="assets/images/common/back-purple.svg" alt="back_icon" />
  </div>

  <h4 class="--text-title text-center fw-bold mb-3">Set New Password</h4>

  <h6 class="--text-subtitle text-center mb-3">Must be at least 8 characters</h6>

  <form class="--form-container" [formGroup]="newPasswordForm">
    <div class="mb-3">
      <label for="email">Password</label>

      <app-custom-input
        formControlName="newPassword"
        type="password"
        [icon]="'assets/images/' + currentMode + '/password-icon.svg'"
        placeholder="Your Password"
      ></app-custom-input>
    </div>

    <div class="mb-4">
      <label for="password">Re-type password</label>

      <app-custom-input
        formControlName="confirmPassword"
        type="password"
        [icon]="'assets/images/' + currentMode + '/password-icon.svg'"
        placeholder="Input your password to confirm"
      ></app-custom-input>
    </div>

    <p-button type="submit" class="d-block" label="Reset Password" [disabled]="!passwordsMatch()" (click)="onSubmit()" />
  </form>
</div>
