<div class="--confirm-wrapper p-4">
  <div class="d-flex flex-column justify-content-center">
    <div class="w-100 d-flex justify-content-center mb-3">
      <img [src]="icon()" width="72" height="72" alt="dialog_img" />
    </div>

    <h3 class="text-center font-bold">{{ data.title }}</h3>
    <p class="text-center mb-3">{{ data.description }}</p>

    <button [appButton]="data.type" class="mt-3" (click)="onConfirm()">{{ data.confirmText }}</button>
    <button class="--btn-cancel mt-3" (click)="onCancel()">{{ data.cancelText }}</button>
  </div>
</div>
