.--overview-sta {
  .--overview-box {
    background: var(--active-primary);
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
    height: 178px;

    h4 {
      font-weight: 600;
      font-size: 40px;
      color: var(--const-color);
    }

    h5 {
      font-weight: 600;
      font-size: 20px;
      color: var(--const-color);
    }

    h6 {
      font-weight: 500;
      font-size: 12px;
      cursor: pointer;

      &.--light {
        color: #471EA7;
      }

      &.--dark {
        color: #BEA2FF;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
