<div class="--empty-content-wrapper d-flex flex-column justify-content-center align-items-center">
  <div>
    <div class="d-flex justify-content-center align-items-center">
      @if (currentMode === 'light') {
        <img [src]="icon" alt="section_icon" />
      } @else {
        <img [src]="iconDark" alt="section_icon" />
      }
    </div>

    <h5 class="mt-2 text-center">{{ title }}</h5>

    @if (isShowBtn) {
      <div class="--create-container mt-3 d-flex align-items-center justify-content-center gap-1">
        <img src="assets/images/common/plus.svg" alt="task_icon" />
        <h6>{{ createText }}</h6>
      </div>
    }
  </div>

  <ng-content select="[extra-content]"></ng-content>
</div>
