.--empty-content-wrapper {
  h5 {
    font-weight: 600;
    font-size: 28px;
    color: var(--const-color);
  }

  .--create-container {
    cursor: pointer;

    h6 {
      font-size: 15px;
      color: #6938da;
      margin-bottom: 0 !important;
    }
  }
}

.--upload-wrapper {
  background: #f3eeff;
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #8956ff;
  width: fit-content;
  cursor: pointer;

  p {
    color: #666d80;
  }
}
