.--form-forgot-wrapper {
  background: var(--background);
  padding: 50px 90px;
  border-radius: 10px;
  width: 750px;
  height: 600px;

  h4 {
    color: var(--title-text);
  }

  .--back-forgot-wrapper {
    width: 50px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #6938DA;
    cursor: pointer;
  }

  .--form-container {
    label {
      font-weight: 500 !important;
      font-size: 12px;
      color: #0D0D12;
      margin-bottom: 5px;
    }
  }
}

::ng-deep .p-button {
  width: 100%;
}
