<div class="--form-wrapper">
  <div class="--error-container">
    @if (isShowError) {
      <p-message severity="error">
        <ng-template #icon>
          <img src="assets/images/common/alert.svg" alt="alert_icon" />
        </ng-template>
        <span class="ml-2">{{ messageError }}</span>
      </p-message>
    }
  </div>
  <div class="d-flex justify-content-center mb-4 mt-2 mb-3">
    <img [src]="'assets/images/' + currentMode + '/logo-auth.svg'" alt="hoa_logo" />
  </div>

  <div class="--back-wrapper mb-3" (click)="onBackLogin()">
    <img src="assets/images/common/back-purple.svg" alt="back_icon" />
  </div>

  <h4 class="--text-title text-center fw-bold mb-3">Forgot Password ?</h4>

  <h6 class="--text-subtitle text-center">No worries, we’ll send you reset instructions</h6>

  <form class="--form-container mt-3" [formGroup]="forgotPswForm">
    <div class="mb-3">
      <label for="email">Email</label>

      <app-custom-input
        formControlName="email"
        type="text"
        [mode]="currentMode"
        [icon]="'assets/images/' + currentMode + '/gray-at-sign.svg'"
        [isError]="isShowError"
        placeholder="Your email"
      ></app-custom-input>
    </div>

    <p class="--text my-4">By creating an account, you agree to our Privacy Policy</p>

    <p-button
      type="submit"
      [loading]="loading"
      class="d-block"
      label="Reset Password"
      [disabled]="!forgotPswForm.valid || loading"
      (click)="onSubmit()"
    />
  </form>
</div>
