::ng-deep .p-tablist-tab-list {
  border-width: 0;
}

::ng-deep .p-tab {
  border-width: 0px !important;
  color: #6f6f6f;
  font-weight: 500;
  font-size: 15px;
  background: var(--background) !important;
}

::ng-deep .p-tab-active {
  color: #6938da;
}

::ng-deep .p-tablist-active-bar {
  height: 2px;
}

::ng-deep .p-tabpanels {
  padding: 12px 0 !important;
  background: var(--background) !important;
}

::ng-deep .p-dialog-mask {
  background: rgba(0, 0, 0, 0.3) !important;
}

::ng-deep .p-dialog-header {
  display: none !important;
}

::ng-deep .p-dialog-content {
  padding: 0 !important;
}

::ng-deep .p-tab {
  transition: all 1s step-start !important;
}

::ng-deep .fc-col-header-cell,
::ng-deep .fc-timegrid-axis {
  background: var(--background) !important;
}
