<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="selectedCity">Select</label>
    <p-select
      formControlName="selectedCity"
      [options]="cities"
      optionLabel="name"
      placeholder="Select a City"
      [class.ng-dirty.ng-invalid]="isSubmitted && form.get('selectedCity')?.invalid"
    ></p-select>

    @if (isSubmitted && form.get('selectedCity')?.invalid) {
      <small class="text-danger"> City is required. </small>
    }
  </div>

  <div class="mb-3">
    <label for="date">Date Picker</label>
    <p-date-picker
      formControlName="date"
      [class.ng-dirty.ng-invalid]="isSubmitted && form.get('date')?.invalid"
    ></p-date-picker>
    @if (isSubmitted && form.get('date')?.invalid) {
      <small class="text-danger"> Date is required. </small>
    }
  </div>

  <div class="mb-3">
    <label for="text">Input</label>
    <input
      formControlName="text"
      type="text"
      pInputText
      [class.ng-dirty.ng-invalid]="isSubmitted && form.get('text')?.invalid"
    />
    @if (isSubmitted && form.get('text')?.errors?.['required']) {
      <small class="text-danger"> Email is required. </small>
    }

    @if (isSubmitted && form.get('text')?.errors?.['email']) {
      <small class="text-danger"> Please enter a valid email. </small>
    }
  </div>

  <!-- Uncomment nếu muốn dùng InputPhone -->
  <!--
  <div class="mb-3">
    <label for="phone">Input Phone</label>
    <app-input-phone formControlName="phone"></app-input-phone>
    <small class="text-danger" *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['required']">
      Phone is required.
    </small>
    <small class="text-danger" *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['minlength']">
      Phone must be at least 6 characters.
    </small>
  </div>
  -->

  <button type="submit" class="d-block">Submit</button>
</form>
