<div class="--announcement-list-wrapper">
  @for (announce of announcements; track $index) {
    <div class="--announcement-item">
      <div class="py-3 d-flex justify-content-between align-items-center">
        <div class="--content">
          <h4 class="mb-2">{{ announce.title }}</h4>
          <div class="d-flex">
            @if (announce.type === 'Draft') {
              <div class="--tag d-flex justify-content-center align-items-center">Draft</div>
            }
            <span class="mx-2">{{ announce.created | date: 'MMM. dd, hh:mm a' }}</span>
            <div class="d-flex jusityfy-content-center align-items-center">
              <div class="--dot"></div>
            </div>
            <span>{{ announce.personSent }}</span>
          </div>
        </div>
        @if (announce.type === 'Draft') {
          <div
            class="--action me-3 d-flex justify-content-center align-items-center"
            [popover]="popoverContent"
            placement="top left"
            triggers="click"
          >
            <img src="assets/images/common/dots-vertical.svg" alt="dot_icon" />
          </div>

          <ng-template #popoverContent>
            <div class="--action-content">
              <div class="--action-item py-2">
                <img src="assets/images/common/edit.svg" alt="edit_icon" />
                <span>{{ ACTIONS.EDIT }}</span>
              </div>
              <div class="--action-item py-2">
                <img src="assets/images/common/green_publish.svg" alt="publish_icon" />
                <span>{{ ACTIONS.PUBLISH }}</span>
              </div>
              <div class="--action-item py-2">
                <img src="assets/images/common/red_trash.svg" alt="trash_icon" />
                <span>{{ ACTIONS.DELETE }}</span>
              </div>
            </div>
          </ng-template>
        } @else {
          <img src="assets/images/common/trash.svg" class="me-3" alt="trash_icon" />
        }
      </div>
    </div>
  }
</div>
