.--announcement-list-wrapper {
  .--announcement-item {
    border-bottom: 1px solid #bea2ff;
    background-color: var(--background) !important;

    h4 {
      font-weight: 600;
      font-size: 15px;
      color: var(--const-color);
    }

    .--content {
      .--tag {
        border: 1px solid #6938da;
        background: var(--active-primary);
        color: var(--tag-text);
        border-radius: 5px;
        font-weight: 600;
        font-size: 10px;
        padding: 0 10px;
      }

      .--dot {
        width: 5px;
        height: 5px;
        background: var(--normal-text);
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin-right: 8px;
      }

      span {
        font-weight: 500;
        font-size: 10px;
        color: var(--normal-text);
      }
    }

    img {
      cursor: pointer;
    }
  }

  .--action {
    cursor: pointer;
  }
}

.--delete-action {
  cursor: pointer;

  span {
    color: #ff515f;
  }
}

.--publish-action {
  cursor: pointer;

  span {
    color: #4e9700;
  }
}

.--edit-action {
  cursor: pointer;
}

::ng-deep .p-tabpanels {
  background: var(--background) !important;
}

::ng-deep .p-tab {
  background: var(--background) !important;
}

::ng-deep .p-popover::before,
::ng-deep .p-popover::after {
  display: none;
}
