.--announcement-list-wrapper {
  .--announcement-item {
    border-bottom: 1px solid #bea2ff;
    background-color: var(--background) !important;

    h4 {
      font-weight: 600;
      font-size: 15px;
      color: var(--const-color);
    }

    .--content {
      .--tag {
        border: 1px solid #6938da;
        background: #f3eeff;
        color: #471ea7;
        border-radius: 5px;
        font-weight: 600;
        font-size: 10px;
        padding: 0 10px;
      }

      .--dot {
        width: 5px;
        height: 5px;
        background: #6f6f6f;
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin-right: 8px;
      }

      span {
        font-weight: 500;
        font-size: 10px;
        color: #6F6F6F;
      }
    }
  }

  .--action {
    cursor: pointer;
  }

  .--action-content {

  }
}

::ng-deep .p-tabpanels {
  background: var(--background) !important;
}

::ng-deep .p-tab {
  background: var(--background) !important;
}
