.--header-wrapper {
  padding: 20px 30px;
  border-bottom: 1px solid #DFE1E7;

  .--header-left {

    .--app-text {
      font-weight: 600;
      font-size: 20px;
      color: #6F6F6F;
    }

    h4,
    h5 {
      margin-bottom: 0 !important;
    }

    .--section-name {
      font-weight: 600;
      font-size: 20px;
      color: #000000;
    }

    .--slash-icon {
      font-weight: 600;
    }
  }

  .--header-right {
    .--notification {
      width: 44px;
      height: 44px;
      border: 1px solid #FFB9BF;
      border-radius: 50%;
      position: relative;
      margin-right: 24px;

      .--notification-badge {
        position: absolute;
        top: -8px;
        right: -4px;
        width: 20px;
        height: 20px;
        background: #FF515F;
        border-radius: 50%;
        color: #FFF;

        span {
          font-weight: 600;
          font-size: 10px;
        }
      }
    }

    .--menu-button {
      border: 1px solid #BEA2FF;
      border-radius: 40px;
      padding: 5px;
      cursor: pointer;

      h6 {
        margin-bottom: 0 !important;
        font-weight: 600;
        font-size: 12px;
        color: #000000;
      }

      p {
        font-weight: 500;
        font-size: 10px;
        color: #6F6F6F
      }

      .--down-icon {
        margin-right: 8px;
      }
    }
  }
}

::ng-deep .p-popover-content {
  width: 283px;

  .--menu-dropdown-container {

    hr {
      margin: 0 0 10px 0;
    }

    .--menu-dropdown-item {
      padding: 10px;

      p {
        font-weight: 500;
        font-size: 16px;
        color: #36394A;
      }

      .--logout-text {
        color: #FF515F;
      }
    }

    .--theme-wrapper {
      padding: 10px;

      h6 {
        font-weight: 600;
        font-size: 15px;
        color: #36394A;
        margin-bottom: 0 !important;
      }

      .--switch-mode-wrapper {
        display: flex;
        background: #FFF6E6;
        padding: 4px;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        justify-content: space-between;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        position: relative;

        div {
          width: 40px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 7px;
          z-index: 20;
          cursor: pointer;

          p {
            font-size: 12px;
          }
        }

        .--active-indicator {
          position: absolute;
          top: 4px;
          bottom: 4px;
          width: 40px;
          background: #FFDD9E;
          border-radius: 10px;
          transition: transform 0.3s ease-in;
          z-index: 10;

          &.light {
            transform: translateX(0);
          }

          &.dark {
            transform: translateX(50px);
          }
        }
      }
    }
  }
}

::ng-deep .p-popover {
  left: 1145px !important;

  &::after {
    left: 145px !important;
  }

  &::before {
    left: 145px !important;
  }
}