.--form-reset-wrapper {
  background: var(--background);
  padding: 50px 90px;
  border-radius: 10px;
  width: 750px;
  height: 600px;

  h4 {
    color: var(--title-text);
  }

  .--back-reset-wrapper {
    width: 50px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #6938DA;
    cursor: pointer;
  }

  .--form-container {
    label {
      font-weight: 500 !important;
      font-size: 12px;
      color: #0D0D12;
      margin-bottom: 5px;
    }
  }

  .--otp-wrapper {
    &.--dark {
      ::ng-deep .ngx-otp-input-box {
        background-color: #F8FAFB;
        color: #000;
      }

      ::ng-deep .ngx-otp-input-filled {
        background-color: var(--background);
        color: #FFF;
      }
    }
  }
}


::ng-deep .p-button {
  width: 100%;

  span {
    color: #FFF;
  }
}

::ng-deep .ngx-otp-input-box {
  width: 82px !important;
  height: 48px !important;
  border: 1px solid #BEA2FF !important;
  border-radius: 10px !important;
  transition: all 0.3s ease-in-out;
  background: var(--background);

  &:empty::before {
    content: "-";
    color: #aaa;
    font-size: 20px;
  }
}

::ng-deep .ngx-otp-input-filled {
  box-shadow: 0px 0px 10px rgba(151, 71, 255, 0.5);
}

::ng-deep .ngx-otp-input-form {
  gap: 16px !important;
}
