<div class="--form-wrapper">
  <div class="d-flex justify-content-center my-5 mb-3">
    <img [src]="'assets/images/' + currentMode + '/logo-auth.svg'" alt="hoa_logo" />
  </div>

  <div class="--back-wrapper mb-4" (click)="onBackPreviousStep()">
    <img src="assets/images/common/back-purple.svg" alt="back_icon" />
  </div>

  <h4 class="--text-title text-center fw-bold mb-3">Password Reset</h4>

  <h6 class="--text-subtitle text-center my-3">
    We sent a code to <strong>{{ email() }}</strong>
  </h6>

  <div class="--otp-wrapper d-flex align-items-center my-4" [class.--dark]="currentMode === 'dark'">
    <ngx-otp-input [options]="otpOptions" (otpChange)="onOtpChange($event)"></ngx-otp-input>
  </div>

  <p class="--text mb-3">
    Didn’t receive the email? <span class="mx-2">Click to resend code</span>
  </p>

  <p-button
    type="submit"
    [loading]="loading"
    [disabled]="!isOtpComplete"
    class="d-block"
    label="Confirm"
    (click)="onSubmit()"
  />
</div>
