.--form-reset-wrapper {
  background: #FFF;
  padding: 50px 90px;
  border-radius: 10px;
  width: 750px;
  height: 600px;

  .--back-reset-wrapper {
    width: 50px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #6938DA;
    cursor: pointer;
  }

  .--form-container {
    label {
      font-weight: 500 !important;
      font-size: 12px;
      color: #0D0D12;
      margin-bottom: 5px;
    }
  }
}

::ng-deep .p-button {
  width: 100%;
}

::ng-deep .ngx-otp-input-box {
  width: 82px !important;
  height: 48px !important;
  border: 1px solid #BEA2FF !important;
  border-radius: 10px !important;
  transition: all 0.3s ease-in-out;
  background: #F8FAFB;

  &:empty::before {
    content: "-";
    color: #aaa;
    font-size: 20px;
  }
}

::ng-deep .ngx-otp-input-filled {
  box-shadow: 0px 0px 10px rgba(151, 71, 255, 0.5);
}
