.--calendar-toolbar {
  background: var(--background);

  .--today {
    background: var(--background);
    border: 1px solid #DFE1E7;
    padding: 6px 16px;
    border-radius: 10px;
  }

  .--pre,
  .--next {
    cursor: pointer;
  }
}

::ng-deep .--event {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 5px;
  color: #000;
}

::ng-deep .--event-red {
  background: #FFEDEF;
  border-left: 3px solid #FF515F;
}

::ng-deep .--event-purple {
  background: #F3EEFF;
  border-left: 3px solid #6938DA;
}

::ng-deep .--event-orange {
  background: #FFF6E6;
  border-left: 3px solid #EFA00B;
}

::ng-deep .--event-green-light {
  background: #F6FFFA;
  border-left: 3px solid #A4FFD1;
}

::ng-deep .--event-green {
  background: #F3FFE6;
  border-left: 3px solid #2B5300;
}

::ng-deep .fc-event-title-container {
  font-weight: 500;
  font-size: 11px;
  color: #000;
}

::ng-deep .fc-scrollgrid-sync-inner {
  text-align: left;
  padding: 10px;
}

::ng-deep .fc-col-header-cell-cushion {
  font-weight: 500;
  font-size: 15px;
  color: #6F6F6F;
  text-decoration: none;
  text-transform: uppercase;
}

::ng-deep .fc-daygrid-day-top {
  a {
    text-decoration: none;
    font-size: 20px;
    color: #6F6F6F;
  }
}

::ng-deep .fc-toolbar-title {
  font-weight: 600;
  font-size: 20px !important;
  color: #000000;
  display: flex;
  align-items: center;
}

::ng-deep .fc-toolbar-chunk {
  display: flex;
}

::ng-deep .fc-today-button {
  background: var(--background) !important;
  color: var(--const-color) !important;
  text-transform: capitalize !important;
  border-radius: 10px !important;
}

::ng-deep .fc-prev-button,
::ng-deep .fc-next-button {
  background: var(--background) !important;
  border: 0 !important;

  span {
    color: #A4ACB9 !important;
  }
}

::ng-deep .fc-header-toolbar {
  display: none !important;
}

::ng-deep .p-select-option-selected {
  background: #6938DA !important;

  span {
    color: #FFF;
  }
}

::ng-deep .p-datatable-thead th {
  background: var(--active-primary) !important;
  font-size: 13px;
  line-height: 18px;
  color: var(--const-color);
}

::ng-deep td {
  font-weight: 500;
  font-size: 13px;
  color: var(--const-color);
}

::ng-deep .p-tabpanels {
  background: var(--background);
}
