<div class="--calendar-toolbar d-flex justify-content-between align-items-center">
  <div class="mb-4 d-flex align-items-center">
    <button class="--today" (click)="onNavigation('today')">Today</button>
    <h5 class="mb-0 mx-4">{{ calendarTitle | date: 'MMMM, yyyy' }}</h5>
    <img
      [src]="'assets/images/' + currentMode + '/gray-chevron-left.svg'"
      class="--pre me-2"
      (click)="onNavigation('prev')"
      alt="chevron_right"
    />

    <img
      [src]="'assets/images/' + currentMode + '/gray-chevron-right.svg'"
      class="--next"
      (click)="onNavigation('next')"
      alt="chevron_right"
    />
  </div>
  <p-select
    [options]="viewOptions"
    [(ngModel)]="selectedView"
    optionLabel="name"
    placeholder="Select a City"
    (ngModelChange)="onViewChange($event)"
  />
</div>
@if (!isListView()) {
  <full-calendar #calendar [options]="calendarOptions()"></full-calendar>
} @else {
  <app-table [headers]="calendarHeader" [data]="calendarData" [actions]="actions" [showPagination]="true" (actionTriggered)="onAction($event)"></app-table>
}
