.--overview-wrapper {
  .--overview-bottom {
    border-top: 1px solid #eceff3;
  }

  .--overview-bottom-wrapper {
    .--overview-bottom-left {
      width: 43%;
      border-right: 1px solid #eceff3;
    }

    .--overview-bottom-right {
      flex: 1;
    }
  }
}
