<div class="--overview-wrapper">
  <app-overview-stas></app-overview-stas>

  <task-section [tasks]="tasks"></task-section>

  <div class="--overview-bottom">
    <div class="--overview-bottom-wrapper d-flex">
      <div class="--overview-bottom-left">
        <div class="--announcement-section">
          <app-announcement-section></app-announcement-section>
        </div>
        <div class="--bid-section">
          <app-bid-section></app-bid-section>
        </div>
      </div>
      <div class="--overview-bottom-right">
        <app-calendar-section></app-calendar-section>
      </div>
    </div>
  </div>
</div>
