.--form-login-wrapper {
  background: var(--background);
  padding: 30px 90px 50px 90px;
  border-radius: 10px;
  width: 750px;
  height: 600px;

  .--error-container {
    height: 52px;
  }

  h4 {
    color: var(--title-text);
  }

  .--form-container {
    label {
      font-weight: 500 !important;
      font-size: 12px;
      color: var(--title-text);
    }
  }

  .--bottom-container {
    label {
      font-size: 12px;
      color: var(--title-text);
      margin-top: 5px;
    }

    p {
      font-size: 12px;
      line-height: 18px;
      color: var(--title-subtext);
      cursor: pointer;
    }

    .--forgot-password {
      opacity: 0.6;
    }
  }
}

::ng-deep .p-button {
  width: 100%;

  span {
    color: #fff;
  }
}

::ng-deep .p-message-content {
  background: var(--message-bg);
  color: var(--const-color);
  height: 34px !important;
  border-radius: 10px;

  span {
    font-size: 14px;
  }
}

::ng-deep .p-button-loading-icon {
  color: var(--background);
}
