<div class="--form-wrapper">
  <div class="--error-container">
    @if (isShowError) {
      <p-message severity="error">
        <ng-template #icon>
          <img src="assets/images/common/alert.svg" alt="alert_icon" />
        </ng-template>
        <span class="ml-2">{{ messageError() }}</span>
      </p-message>
    }
  </div>

  <div class="d-flex justify-content-center mb-5 mt-2 mb-3">
    <img [src]="'assets/images/' + currentMode + '/logo-auth.svg'" alt="hoa_logo" />
  </div>

  <h4 class="--text-title text-center fw-bold mb-3">Welcome to Palm Springs HOA</h4>

  <h6 class="--text-subtitle text-center">Please login to your account</h6>

  <form class="--form-container" [formGroup]="loginForm">
    <div class="mb-3">
      <label for="email">Email</label>

      <app-custom-input
        formControlName="email"
        (valueChange)="loginForm.controls['email'].setValue($event)"
        type="text"
        [icon]="'assets/images/' + currentMode + '/gray-at-sign.svg'"
        [isError]="isShowError"
        placeholder="Your email"
      ></app-custom-input>
    </div>

    <div class="mb-4">
      <label for="password">Password</label>

      <app-custom-input
        formControlName="password"
        type="password"
        [icon]="'assets/images/' + currentMode + '/password-icon.svg'"
        [isError]="isShowError"
        placeholder="Your password"
      ></app-custom-input>
    </div>

    <p-button
      type="submit"
      [loading]="loading"
      class="d-block"
      label="Login"
      (click)="onSubmit()"
    />
  </form>

  <div class="--bottom-container d-flex justify-content-between align-items-center mt-3">
    <div class="d-flex algin-items-center">
      <p-checkbox inputId="ingredient2" name="pizza" value="Mushroom" />
      <label for="ingredient2" class="mx-2"> Remember me </label>
    </div>

    <p class="--forgot-password" (click)="onRouteForgotPassword()">Forgot Password ?</p>
  </div>
</div>
