::ng-deep .p-select.--new,
::ng-deep .p-select.--first_notice,
::ng-deep .p-select.--draft {
  background: #FF515F !important;
  border-radius: 10px;
  border: 0;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--accepted {
  background: #55C68D !important;
  border-radius: 10px;
  border: 0;

  span,
  svg {
    color: #FFF !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--pending,
::ng-deep .p-select.--open {
  background: #EFA00B !important;
  border-radius: 10px;
  border: 0;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--approved {
  background: #4E9700 !important;
  border-radius: 10px;
  border: 0;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--awarded,
::ng-deep .p-select.--closed {
  background: #74DB07 !important;
  border-radius: 10px;
  border: 0;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--hearing {
  background: #33CFFF !important;
  border-radius: 10px;
  border: 0;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

::ng-deep .p-select.--second_notice {
  background: #CC2936 !important;
  border-radius: 10px;
  border: 0;

  span,
  svg {
    color: hsl(0, 0%, 100%) !important;
  }

  .p-select-label {
    padding: 4px 12px !important;
  }
}

// ::ng-deep .p-select-option-selected:hover,
// ::ng-deep .p-select-option
::ng-deep .p-select-option-selected {
  background: var(--background) !important;

    div {
      color: var(--const-color);
    }
}

::ng-deep .p-select-label {
  padding: 4px 12px !important;
}

::ng-deep .p-select-list {
  padding: 0;
}

::ng-deep .p-select {
  width: 160px;

}
