.--custom-select {
  ::ng-deep .p-select.--new,
  ::ng-deep .p-select.--first_notice,
  ::ng-deep .p-select.--draft {
    background: #ff515f !important;
    border-radius: 10px;
    border: 0;

    span,
    svg {
      color: hsl(0, 0%, 100%) !important;
    }

    .p-select-label {
      padding: 4px 12px !important;
    }
  }

  ::ng-deep .p-select.--accepted {
    background: #55c68d !important;
    border-radius: 10px;
    border: 0;

    span,
    svg {
      color: #fff !important;
    }

    .p-select-label {
      padding: 4px 12px !important;
    }
  }

  ::ng-deep .p-select.--pending,
  ::ng-deep .p-select.--open {
    background: #efa00b !important;
    border-radius: 10px;
    border: 0;

    span,
    svg {
      color: hsl(0, 0%, 100%) !important;
    }

    .p-select-label {
      padding: 4px 12px !important;
    }
  }

  ::ng-deep .p-select.--approved {
    background: #4e9700 !important;
    border-radius: 10px;
    border: 0;

    span,
    svg {
      color: hsl(0, 0%, 100%) !important;
    }

    .p-select-label {
      padding: 4px 12px !important;
    }
  }

  ::ng-deep .p-select.--awarded,
  ::ng-deep .p-select.--closed {
    background: #74db07 !important;
    border-radius: 10px;
    border: 0;

    span,
    svg {
      color: hsl(0, 0%, 100%) !important;
    }

    .p-select-label {
      padding: 4px 12px !important;
    }
  }

  ::ng-deep .p-select.--hearing {
    background: #33cfff !important;
    border-radius: 10px;
    border: 0;

    span,
    svg {
      color: hsl(0, 0%, 100%) !important;
    }

    .p-select-label {
      padding: 4px 12px !important;
    }
  }

  ::ng-deep .p-select.--second_notice {
    background: #cc2936 !important;
    border-radius: 10px;
    border: 0;

    span,
    svg {
      color: hsl(0, 0%, 100%) !important;
    }

    .p-select-label {
      padding: 4px 12px !important;
    }
  }

  // ::ng-deep .p-select-option-selected:hover,
  // ::ng-deep .p-select-option
  ::ng-deep .p-select-option-selected {
    background: var(--background) !important;

    div {
      color: var(--const-color);
    }
  }

  ::ng-deep .p-select-label {
    padding: 4px 12px !important;
  }

  ::ng-deep .p-select-list {
    padding: 0;
  }

  ::ng-deep .p-select {
    width: 160px;
  }
}
