<div class="--main-slot p-4">
  <div class="--slot-header">
    <p-tabs value="0">
      <div class="d-flex justify-content-between align-items-center">
        <p-tablist>
          <ng-content select="[tab-header]"></ng-content>
        </p-tablist>

        <div>
          <app-button-primary
            icon="assets/images/common/white-plus-solid.svg"
            label="New Announcement"
            [isPrimaryActive]="true"
          ></app-button-primary>
        </div>
      </div>

      <p-tabpanels>
        <ng-content select="[tab-panel]"></ng-content>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
