<div class="--dynamic-dialog p-4">
  <div class="--dialog-header w-100 d-flex justify-content-between mb-4">
    <div class="d-flex align-items-center">
      <img class="me-3" [src]="icon()" alt="dialog_icon" />
      <h3 class="mb-0">Project Details</h3>
    </div>

    <div class="--right">
      <div>
        <p class="text-end">Created: {{ formattedDate(data.start_date) }}</p>
        <p class="text-end">Updated: {{ formattedDate(data.last_update) }}</p>
      </div>

      <div class="--share-box mx-3 d-flex justify-content-center align-items-center">Share</div>

      <div class="--image-wrapper d-flex align-items-center">
        <img
          [src]="'assets/images/' + currentMode + '/close.svg'"
          class="--close"
          alt="close_icon"
          (click)="closeDialog()"
        />
      </div>
    </div>
  </div>

  <p-divider />

  <div class="--dynamic-title">
    <h2>{{ data.name }}</h2>

    <div class="row">
      <div class="col-6">
        <!-- Status -->
        <div class="mb-3 d-flex align-items-center">
          <img
            [src]="'assets/images/' + currentMode + '/' + 'loading' + '.svg'"
            [alt]="icon + '_icon'"
            class="me-2"
          />
          <p
            [style.width]="!isEditMode() ? '' : ''"
            [class.--detail]="!isEditMode()"
            class="--text-box"
          >
            Status
          </p>

          <app-custom-select
            [options]="customStatus"
            [formControl]="statusFormControl()"
            [initStatus]="extraData.custom_status"
          ></app-custom-select>
        </div>

        <!-- Project Type -->
        <div class="mb-3 d-flex align-items-center">
          <img
            [src]="'assets/images/' + currentMode + '/' + 'list-sm' + '.svg'"
            [alt]="icon + '_icon'"
            class="me-2"
          />
          <p
            [style.width]="!isEditMode() ? '' : ''"
            [class.--detail]="!isEditMode()"
            class="--text-box"
          >
            Type
          </p>

          <span>{{ task_type() }}</span>
        </div>

        <!-- Priority -->
        <div class="mb-3 d-flex align-items-center">
          <img
            [src]="'assets/images/' + currentMode + '/' + 'flag' + '.svg'"
            [alt]="icon + '_icon'"
            class="me-2"
          />
          <p
            [style.width]="!isEditMode() ? '' : ''"
            [class.--detail]="!isEditMode()"
            class="--text-box"
          >
            Priority
          </p>
          <span class="--box" [ngClass]="getClassStyle(task_priority(), currentMode)">{{
            task_priority()
          }}</span>
        </div>

        <!-- ETA -->
        <div class="mb-3 d-flex align-items-center">
          <img
            [src]="'assets/images/' + currentMode + '/' + 'hourglass' + '.svg'"
            [alt]="icon + '_icon'"
            class="me-2"
          />
          <p
            [style.width]="!isEditMode() ? '' : ''"
            [class.--detail]="!isEditMode()"
            class="--text-box"
          >
            ETA
          </p>

          <span>{{ formattedDate(extraData.eta) }}</span>
        </div>
      </div>
      <div class="col-6">
        <!-- PROJECT MANAGER -->
        <div class="mb-3 d-flex align-items-center">
          <img
            [src]="'assets/images/' + currentMode + '/' + 'perspective' + '.svg'"
            [alt]="icon + '_icon'"
            class="me-2"
          />
          <p
            [style.width]="!isEditMode() ? '' : ''"
            [class.--detail]="!isEditMode()"
            class="--text-box"
          >
            Project Manager
          </p>

          <span>You</span>
        </div>

        <!-- ESTIMATE COST -->
        <div class="mb-3 d-flex align-items-center">
          <img
            [src]="'assets/images/' + currentMode + '/' + 'perspective' + '.svg'"
            [alt]="icon + '_icon'"
            class="me-2"
          />
          <p
            [style.width]="!isEditMode() ? '' : ''"
            [class.--detail]="!isEditMode()"
            class="--text-box"
          >
            Estimated Cost
          </p>

          <span>{{ data.est_cost }}</span>
        </div>

        <!-- RESIDENT NAME -->
        <div class="mb-3 d-flex align-items-center">
          <img
            [src]="'assets/images/' + currentMode + '/' + 'user-square' + '.svg'"
            [alt]="icon + '_icon'"
            class="me-2"
          />
          <p
            [style.width]="!isEditMode() ? '' : ''"
            [class.--detail]="!isEditMode()"
            class="--text-box"
          >
            Resident Name
          </p>

          <span>-</span>
        </div>

        <!-- BID -->
        <div class="mb-3 d-flex align-items-center">
          <img
            [src]="'assets/images/' + currentMode + '/' + 'finger' + '.svg'"
            [alt]="icon + '_icon'"
            class="me-2"
          />
          <p
            [style.width]="!isEditMode() ? '' : ''"
            [class.--detail]="!isEditMode()"
            class="--text-box"
          >
            Bid
          </p>

          <span>Palm Springs Main Entrance Bid</span>
        </div>
      </div>

      <!-- VENDOR -->
      <div class="mb-3 d-flex align-items-center">
        <img
          [src]="'assets/images/' + currentMode + '/' + 'truck-sm' + '.svg'"
          [alt]="icon + '_icon'"
          class="me-2"
        />
        <p
          [style.width]="!isEditMode() ? '' : ''"
          [class.--detail]="!isEditMode()"
          class="--text-box"
        >
          Vendors
        </p>

        <span>AB Services Co., HardHatters, Monkey Biz & Co.</span>
      </div>

      <!-- ACTION ITEM -->
      <div class="mb-3 d-flex align-items-center">
        <img
          [src]="'assets/images/' + currentMode + '/' + 'clipboard-check-sm' + '.svg'"
          [alt]="icon + '_icon'"
          class="me-2"
        />
        <p
          [style.width]="!isEditMode() ? '' : ''"
          [class.--detail]="!isEditMode()"
          class="--text-box"
        >
          Action Items
        </p>

        <span>Sign contract with plumbing vendor, Sign contract for watering system project</span>
      </div>
    </div>
  </div>

  <p-divider />

  <div class="mb-4">
    <h5 class="mb-2 mt-3">Detail</h5>
    <p>{{ data.description }}</p>
  </div>

  @if (extraData.attachments.length) {
    <div class="mt-4">
      <h5>Attachments</h5>
      <div class="d-flex gap-3">
        @for (attach of extraData.attachments; track $index) {
          <div class="--attachment-box d-flex align-items-center justify-content-center">
            @if (attach.mediaType === 'video') {
              <img
                [src]="'assets/images/' + currentMode + '/video-recorder.svg'"
                class="me-2"
                alt="video_record"
              />
            } @else {
              <img
                [src]="'assets/images/' + currentMode + '/attachment-image.svg'"
                class="me-2"
                alt="file_icon"
              />
            }
            <div>
              <p class="--file-name">{{ attach.name }}</p>
              <p class="--file-size">{{ attach.size }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  }

  <div class="--dynamic-action mt-3 d-flex justify-content-between align-items-center">
    <p>Project ID: {{ data.project_id }}</p>
    <div class="d-flex align-items-center">
      <button appButton="primary" icon="check" [disabled]="true" class="mx-2">Save Changes</button>
    </div>
  </div>
</div>
