<div class="--dialog-header w-100 d-flex justify-content-between mb-4">
  <div class="d-flex align-items-center">
    <img class="me-3" [src]="icon" alt="dialog_icon" />
    <h3 class="mb-0">{{ title }}</h3>
  </div>

  <div class="--right">
    @if (!isCreateMode) {
      <div>
        <p class="text-end">Created: {{ eventData.start_date | date }}</p>
        <p class="text-end">Updated: {{ eventData.end_date | date }}</p>
      </div>

      <div class="--share-box mx-3 d-flex justify-content-center align-items-center">Share</div>

      <div class="--image-wrapper d-flex align-items-center">
        <img src="assets/images/common/edit-sm.svg" class="me-3" alt="edit_icon" />
      </div>
    }

    <img
      [src]="'assets/images/' + currentMode + '/close.svg'"
      class="me-3"
      (click)="closeDialogEmitter()"
      alt="close_icon"
    />
  </div>
</div>
