<div class="--dynamic-action mt-3 d-flex justify-content-between align-items-center">
  <p>{{ moduleName }} {{ formID }}</p>

  <div class="d-flex align-items-center">
    <div class="--attachment me-3 d-flex justify-content-center align-items-center">
      <img src="assets/images/common/attachment.svg" alt="attachment_icon" />
    </div>

    <div class="--save-draft mx-3 d-flex algin-items-center">
      <img src="assets/images/common/save-draft.svg" class="me-2" alt="save_draft_icon" />
      <p>Save Draft</p>
    </div>

    <button-primary
      [icon]="buttonIcon"
      [label]="buttonText"
      [isPrimaryActive]="true"
    ></button-primary>
  </div>
</div>
