<div class="--dynamic-dialog p-4">
  <div class="--dialog-header w-100 d-flex justify-content-between mb-4">
    <div class="d-flex align-items-center">
      <img
        class="me-3"
        [src]="'assets/images/' + currentMode + '/home-plus.svg'"
        alt="dialog_icon"
      />
      <h3 class="mb-0">Create New Property</h3>
    </div>

    <div class="--right">
      <div class="--image-wrapper">
        <img
          [src]="'assets/images/' + currentMode + '/close.svg'"
          (click)="closeDialog()"
          alt="close_icon"
        />
      </div>
    </div>
  </div>

  <p-divider />

  <form>
    <div class="--dynamic-title">
      <div class="row">
        <div class="col-6">
          @for (box of formFields; track $index) {
            @if (box.position === 'left') {
              <app-form-field
                [icon]="box.icon"
                [label]="box.label"
                [type]="box.type"
                [field]="box.field"
                [width]="box.width"
                [placeholder]="box.placeholder"
                [options]="box.list"
                [currentMode]="currentMode"
                [dialogType]="'create'"
                [isCreateMode]="true"
              ></app-form-field>
              <!-- [formControl]="box.value" -->
            }
          }
        </div>
        <div class="col-6">
          @for (box of formFields; track $index) {
            @if (box.position === 'right') {
              <app-form-field
                [icon]="box.icon"
                [label]="box.label"
                [type]="box.type"
                [field]="box.field"
                [width]="box.width"
                [placeholder]="box.placeholder"
                [options]="box.list"
                [currentMode]="currentMode"
                [dialogType]="'create'"
                [isCreateMode]="true"
              ></app-form-field>
            }
          }
        </div>
      </div>
    </div>
  </form>

  <p-divider />

  <div class="--dynamic-action mt-3 d-flex justify-content-between align-items-center">
    <p>Property ID: 4567890</p>

    <button appButton="primary" [currentMode]="currentMode" icon="home-plus-02">Create Property</button>
  </div>
</div>
