.--chip-container {
  padding: 4px 8px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: #f8fafb;
  width: 100%;
  min-height: 82px;
  max-height: fit-content;
  display: flex;

  input {
    border: none;
    outline: none;
    flex: 1;
    min-height: 30px;
    resize: none;
    background: #f8fafb;
    outline: none;
  }

  .--chip {
    background: #abff52;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: fit-content;

    img {
      cursor: pointer;
    }

    span {
      font-weight: 500;
      font-size: 12px;
      color: var(--const-color);
    }
  }
}
