.--custom-input-phone {
  background: var(--custom-input-bg) !important;
  border: 1px solid #dfe1e7;
  border-radius: 10px;
  width: 330px;

  ::ng-deep .p-select,
  ::ng-deep .p-inputmask {
    background: transparent !important;
    border: none;
    box-shadow: none;
  }

  ::ng-deep .p-select-list {
    width: 326px;
  }
}
