@import "primeicons/primeicons.css";

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  user-select: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

li {
  &::marker {
    margin: 5px !important;
  }
}

p {
  margin: 0 !important;
}

/* FONT BASES */
@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.--text-tittle {
  font-size: 28px;
  color: var(--title-text) !important;
}

.--text-subtitle {
  font-size: 15px;
  color: var(--title-subtext);

  strong {
    color: var(--const-color) !important;
  }
}

.--text {
  font-size: 12px;
  line-height: 18px;
  color: var(--title-subtext);

  span {
    color: #6938DA !important;
    font-weight: 700;
    cursor: pointer;
  }
}

.--create-text {
  h6 {
    margin-bottom: 0 !important;
    color: #6938DA;
    cursor: pointer;
  }
}

.--content-section {
  height: calc(100vh - 101px);
}

.--box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 10px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.--urgent, .--new {
  background: #FFB9BF;
  color: #FF515F;
  border: 1px solid #FF515F;
}

.--important {
  background: #F3EEFF;
  color: #6938DA;
  border: 1px solid #6938DA;
}

.--normal, .--accepted {
  background: #DAFFED;
  color: #55C68D;
  border: 1px solid #55C68D;
}

.--normal {
  background: #FFF6E6;
  color: #EFA00B;
  border: 1px solid #FFA800;
}

.--assigned {
  background: #D1F0FA;
  color: #116B97;
  border: 1px solid #116B97;
}

.--cancelled, .--rejected {
  background: #ECEFF3;
  color: #818898;
  border: 1px solid #818898;
}

.--resolved {
  background: #CFFF9C;
  color: #4E9700;
  border: 1px solid #4E9700;
}
