<div class="--main-header d-flex align-items-center">
  <ng-content select="[inner-header]"></ng-content>
  <div class="--search-box d-flex align-items-center me-4">
    <img src="assets/images/common/search.svg" alt="search_icon" />
    <input type="text" placeholder="Search" (input)="onSearchChange($event)" />
  </div>

  @if (isShowFilter) {
    <div
      class="--filter-box me-4 d-flex justify-content-center align-items-center"
      [popover]="popoverContent"
      placement="bottom"
      triggers="click"
    >
      <img src="assets/images/common/filter.svg" alt="filter_icon" />
    </div>
  }

  <ng-template #popoverContent style="width: 500px">
    <ng-content select="[filter-content]"></ng-content>
  </ng-template>

  <button appButton="primary" icon="white-plus-solid" (click)="onAddSection()">
    {{ labelButton }}
  </button>
</div>
