<div class="--main-header d-flex align-items-center">
  <div class="--search-box d-flex align-items-center">
    <img src="assets/images/common/search.svg" alt="search_icon" />
    <input type="text" placeholder="Search" (input)="onSearchChange($event)" />
  </div>

  <div
    class="--filter-box mx-4 d-flex justify-content-center align-items-center"
    [popover]="popoverContent"
    placement="bottom"
    triggers="click"
  >
    <img src="assets/images/common/filter.svg" alt="filter_icon" />
  </div>

  <ng-template #popoverContent>
    <div class="--filter-content">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Filters</h2>
        <h4>Clear all</h4>
      </div>

      <h3>Show user type</h3>

      @for (filter of filterList; track $index) {
        <div class="--checkbox d-flex align-items-center">
          <p-checkbox [value]="filter.value" size="small" />
          <span>{{ filter.label }}</span>
        </div>
      }
    </div>
  </ng-template>

  <button-primary
    icon="assets/images/common/white-plus-solid.svg"
    label="New Announcement"
    [isPrimaryActive]="true"
    (click)="onAddSection()"
  ></button-primary>
</div>
