<div class="--announcement-section">
  <div class="--task-top p-4 d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Announcements</h4>

    <button-primary
      icon="assets/images/common/plus-solid.svg"
      label="New Announcement"
    ></button-primary>
  </div>

  @if (announcements.length) {
    <div class="px-4 pb-4">
      @for (announce of announcements; track $index) {
        <div class="--announcement-item py-2 pe-2 d-flex justify-content-between align-items-center">
          <div class="--content">
            <h4 class="mb-2">{{ announce.title }}</h4>
            <div class="d-flex">
              @if (announce.type === 'Draft') {
                <div class="--tag d-flex justify-content-center align-items-center">Draft</div>
              }
              <span class="mx-2">{{ announce.created | date: 'MMM. dd, hh:mm a' }}</span>
              <div class="d-flex jusityfy-content-center align-items-center">
                <div class="--dot"></div>
              </div>
              <span>{{ announce.personSent }}</span>
            </div>
          </div>

          <img
            [src]="'assets/images/' + currentMode + '/chevron-right.svg'"
            alt="chevron_right_icon"
          />
        </div>
      }
    </div>
  } @else {
    <div class="mb-5">
      <app-empty-content
        icon="assets/images/light/annotation-med.svg"
        iconDark="assets/images/dark/annotation-med.svg"
        title="There are no announcements to show yet."
        createText="Create a new announcement"
      ></app-empty-content>
    </div>
  }
</div>
