<div class="--announcement-section p-4">
  <div class="--task-top d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0">Announcements</h4>

    <button appButton="secondary" icon="plus-solid" (click)="onCreateAnnouncement('create', null)">
      New Announcement
    </button>
  </div>

  @if (announcements.length) {
    <div class="pb-4">
      @if (loading) {
        <app-skeleton-list></app-skeleton-list>
      } @else {
        <announcement-list
          [announcements]="announcements"
          (onEmitAction)="onImplementAction($event)"
        ></announcement-list>
      }
    </div>
  } @else {
    <div class="mb-5 mt-3">
      <app-empty-content
        icon="assets/images/light/annotation-med.svg"
        iconDark="assets/images/dark/annotation-med.svg"
        title="There are no announcements to show yet."
        createText="Create a new announcement"
        (actionEmitter)="onCreateAnnouncement('create', null)"
      ></app-empty-content>
    </div>
  }
</div>
