.--filter-content {
  background: var(--background);
  width: 450px;
  border: 1px solid #dfe1e7;
  border-radius: 10px;

  .--clear-all {
    font-weight: 600;
    color: #ff515f;
    cursor: pointer;
  }

  .--text-filter,
  .--text-date {
    font-weight: 400;
    font-size: 15px;
    color: #666d80;
    display: flex;
    align-items: center;
  }

  .--text-filter {
    width: 200px;
  }

  .--text-date {
    width: 180px;
  }

  .--normal-text {
    color: #666d80;
  }
}
::ng-deep .p-tabpanels {
  padding: 12px 0 !important;
}

::ng-deep .p-datatable-thead th {
  background: var(--active-primary) !important;
  font-size: 13px;
  line-height: 18px;
  color: var(--const-color);
}

::ng-deep td {
  font-weight: 500;
  font-size: 13px;
  color: var(--const-color);
}

::ng-deep .popover {
  border-width: 0 !important;
  max-width: 500px !important;
}

::ng-deep .p-tablist-tab-list {
  border-width: 0;
}

::ng-deep .p-tab {
  border-width: 0px !important;
  color: #6f6f6f;
  font-weight: 500;
  font-size: 15px;
  background: var(--background) !important;
}

::ng-deep .p-tab-active {
  color: #6938da;
}

::ng-deep .p-tablist-active-bar {
  height: 2px;
}

::ng-deep .p-tabpanels,
::ng-deep .p-paginator {
  background: var(--background) !important;
}

::ng-deep .p-tab,
::ng-deep .p-select {
  transition: all 1s step-start !important;
}

::ng-deep .p-multiselect,
::ng-deep .p-datepicker-input {
  border: 1px solid var(--border-color);
}

// ::ng-deep .p-multiselect-header {
//   display: none;
// }
